.MuiBottomNavigationAction-root.Mui-selected {
    color: #0060ff !important;
}

.news_content {
    height: calc(100vh - 56px)
}

.MuiBottomNavigation-root {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.MuiPaper-rounded {
    border-radius: 0 !important;
}

.post__body_crop img {
    max-width: 100%;
    height: auto;
}

.post__body_crop p {
    margin: 0;
}

.post__body_crop a {
    color: #3f51b5
}

/*нужно чтобы корректно отображались блоки <code> с хабра*/
.post__body_crop pre {
    overflow-x: scroll;
}

.MuiCard-root {
    width: 100%;
}