.MuiBottomNavigationAction-root.Mui-selected {
  color: #0060ff!important;
}

.post__body_crop img {
  max-width: 100%;
  height: auto;
}

.post__body_crop p {
  margin: 0;
}
.post__body_crop a{
  color: #3f51b5
}

.react-swipeable-view-container {
  height: 92vh!important;
}
.MuiTabs-root, .MuiBottomNavigation-root, .MuiBottomNavigationAction-root {
  height: 8vh!important;
  min-height: 8vh!important;
  padding: 0px!important;
  align-items: center;
}
.MuiPaper-rounded {
  border-radius: 0px!important;
}