.MuiTab-textColorPrimary.Mui-selected {
  color: #0060ff!important;
}
.react-swipeable-view-container {
  height: 92vh;
  block-size: 92vh;
}
.MuiTabs-root {
  height: 8vh;
  block-size: 8vh;
}
.MuiTabs-indicator {
  display: none;
}
.MuiTab-labelIcon {
 padding: 0px!important;
}
@media screen and (min-device-height: 700px) {

}